@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Safevault!</h1>
    <a class="btn btn-primary" asp-controller="User" asp-action="Login" >Login</a>
</div>
