@{
    ViewData["Title"] = "User Page";
}
<h1>@ViewData["Title"]</h1>

<p>
    This is the user page where you can manage your vault items. You can add, remove, or modify items as needed. This page is designed to be user-friendly and intuitive, allowing you to easily navigate through your vault and manage your sensitive information securely.
    <br />
</p>
